.Creations {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 0;
}
.wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.Creations .top {
  display: flex;
  justify-content: center;
}
.button {
  padding: 0.5rem 2rem;
  background-color: white;
  color: black;
  text-transform: uppercase;
  border: 1px solid black;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.button:hover {
  background-color: black;
  color: white;
}
.button1 {
  display: none;
}
.button2 {
}
.creationsContainer {
  margin: 2rem 0;
}
.creation {
  width: 100%;
  position: relative;
  margin: 1rem 0;
  overflow: hidden;
  cursor: pointer;
}
.creation img {
  width: 100%;
  transition: all ease-in 0.3s;
}
.creation .text {
  font-size: 1.3rem;
  color: white;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 7rem;
}
.creation:hover img {
  opacity: 0.5;
  transform: scale(1.2);
}
.creation:hover .text {
  color: black;
  font-weight: 400;
}

@media only screen and (min-width: 48rem) {
  .Creations .top {
    justify-content: space-between;
    align-items: center;
  }
  .button1 {
    display: block;
  }
  .button2 {
    display: none;
  }
  .creationsContainer {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 5%;
  }
  .creation {
    width: 30%;
  }
  .creation .text {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 64rem) {
  .wrapper {
    width: 80%;
  }
  .creationsContainer {
    gap: 2.6%;
  }
  .creation {
    width: 23%;
  }
}
