.Header {
  width: 100%;
  /* background-color: rgb(197, 197, 197); */
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  position: absolute;
  top: 0;
  z-index: 1;
}
.desktop_links {
  display: none;
}
.mobile_menu {
  transition: all ease-in-out 0.3s;
  padding: 4rem 0;
  position: absolute;
  top: -80rem;
  /* top: 0; */
  left: 0;
  right: 0;
  z-index: -1;
}

@media (min-width: 64rem) {
  .Header {
    padding: 3rem 10%;
  }
  .desktop_links {
    display: block;
  }
  .desktop_links a {
    margin: 0 1rem;
  }
  .hamburger {
    display: none;
  }
}
